*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(https://img.freepik.com/free-vector/futuristic-technology-background_23-2148497769.jpg?t=st=1722059211~exp=1722062811~hmac=1c97ec573dee8d0d981dd30e4f53e4d482b331511ab05448b30c3303604a5407&w=826);
    border: 2px solid black;
    height: 100vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}
.logo{
    /* height: 12vh; */
    position: static;
    text-align: center;
    color: white;
    text-decoration: none;
}
.rectangle{
    justify-content: center;
    height: 12vh;
    width: 100vw;
    border: 5px solid white;
}
h1{
    height: 100%;
    width: 100%;
    align-content: center;
}

.square{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.123);
    height: 90vh;
    width: 90vw;
    display: flex;
    border: 5px solid white;
    border-radius: 1rem;
    

}

